@model CWI.SkillMap.Models.Skill.SkillViewModel
@{
    ViewBag.Title = "Skills";
}
<div class="row">
    <div class="well bs-component">
        <fieldset>
            <legend>
                Todos os skills [@Model.Skills.Count no total]
            </legend>
            <div>
                @foreach (var item in Model.Skills)
                {<div class="col-md-3">
                    <div class="panel panel-default mastery-10">
                        <div class="panel-body">
                            @item.Name
                        </div>
                    </div>
                </div>}
            </div>
        </fieldset>
    </div>

</div>